// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.flex {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}
