<div class="container">
  <div class="d-flex justify-content-center">
    <div class="text-center mt-3 p-auto">
      <h1>About</h1>
      <p>ながのCAKEは全国発送可能なケーキ屋さんです。</p>
      <p>お子様からお年寄りの方までお召し上がりいただけるよう、</p>
      <p>様々なバリエーションをご用意しております。</p>
      <p>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
      <p>ぜひご注文ください。</p>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <h3 class="text-center"><%= link_to '管理者ログイン', new_admin_session_path %></h3>
  </div>
</div>