<div class="container p-4">
  <h3 class="font-weight-bold ml-5">ジャンル編集</h3>
  <div class="row m-3">
    <%= form_with model: @genre, url: admin_genre_path(@genre) do |f| %>
    <table>
      <tbody>
        <tr>
          <th><p class="font-weight-bold">ジャンル名　</p></th>
          <td><%= f.text_field :genre_name %>　</td>
          <td><%= f.submit "変更を保存", class:"btn btn-success" %></td>
        </tr>
      </tbody>
    </table>
    <% end %>
  </div>
</div>